<div class="panel">
  <div class="form-container">
    <h1 style="margin-bottom: 12px;">Mongoose Model Generator</h1>
    <form [formGroup]="modelForm">
      <div class="form-control">
        <label>Language
          <select formControlName="format">
            <option value="js">JavaScript</option>
            <option value="ts">TypeScript</option>
          </select>
        </label>
      </div>
      <div class="form-control">
        <label>Model Name
          <input type="text" formControlName="name">
        </label>
      </div>
      <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 12px; border-bottom: 1px solid #222; padding-bottom: 12px; margin-bottom: 12px;">
        <h3 style="">Fields ({{ fieldsVal.length }})</h3>
        <button style="width: 50%;margin: 0;" class="button" type=button (click)="addField()">Add Field</button>
      </div>
      <div *ngFor="let control of fields.controls; let i = index" formArrayName="fields">
        <h4>Field #{{i+1}}</h4>
        <div class="field-controls" [formGroup]="control">
          <div>
            <label>Field Name</label>
            <input type="text" formControlName="name">
          </div>
          <div style="margin: 0 8px;">
            <label>Type</label>
            <select style="display: block;" formControlName="type">
              <option *ngFor="let option of typeOptions" [value]="option.value">{{option.name}}</option>
            </select>
          </div>
          <div>
            <label>Default Value</label>
            <input type="text" formControlName="default">
          </div>
        </div>
      </div>
      <button class="button" style="margin-top: 42px;" type=button (click)="download(displayer.getContent())">Download Model</button>
    </form>
    <div class="credits">
      <span title="Mongoose Model Generator">MMG</span> = <span title="Love" class="bi bi-heart-fill"></span> + <span title="Coffee" class="bi bi-cup-hot-fill"></span> + <span title="Angular" class="bi bi-shield-shaded"></span>
      <div>
        by <a href="https://github.com/kenliten" class="link">kenliten</a>.
      </div>
    </div>
  </div>
  <div class="result-screen">
    <h2 style="color: white; margin-bottom: 24px;">Preview</h2>
    <app-model-displayer #displayer [fields]="fieldsVal" [modelName]="name"></app-model-displayer>
  </div>
</div>
